<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">

    <template v-if="loaded">


<ul>
    <li v-for="x in tools">{{x}}</li>

</ul>

<div class="user" v-for="x in users">

    <h3>{{x.name}}</h3>
    <p>{{x.address}}</p>

</div>

    </template>

    <template v-else>

         拼命加载中。。。

    </template>

</div>

<!-- 引入vue   开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    let app = new Vue({
        el : "#app",
       // loaded : false,
        data:{
            loaded : false,
            tools:['php','java','python','c#','c++'],
            users:null,

        },
        mounted(){
            //ajax requset
            setTimeout( ()=>{

                this.users = [
                    {'id':1,'name':'zhangsan','address':'shenzhen'},
                    {'id':2,'name':'lis','address':'shanghai'},
                    {'id':3,'name':'tony','address':'beijing'},
                ];

                this.loaded = true
                },1000);
        }
    });
</script>




</body>
</html>